@import './utils.scss';



@font-face {
    font-family: 'FC BARCELONA';
    font-style: normal;
    font-weight: bold;
    src: url("fonts/FC_BARCELONA-Bold.woff2") format('woff2'),
}
@font-face {
    font-family: 'FC BARCELONA';
    src: url("fonts/NotoSansKR-Light.woff") format("woff");
    unicode-range: U+0020-007E;
    font-style: bold;
}
@font-face {
    font-family: 'FC BARCELONA';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/FC_BARCELONA-Regular.woff2") format('woff2'),
}
@font-face {
    font-family: 'FC BARCELONA';
    src: url("fonts/NotoSansKR-Regular.woff") format("woff");
    unicode-range: U+0020-007E;
    font-style: normal;
}
@font-face {
    font-family: 'FC BARCELONA';
    font-style: normal;
    font-weight: bolder;
    src: url("fonts/FC_BARCELONA-Extrabold.woff2") format('woff2'),
}
@font-face {
    font-family: 'FC BARCELONA';
    src: url("fonts/NotoSansKR-Bold.woff") format("woff");
    unicode-range: U+0020-007E;
    font-style: bolder;
}
@font-face {
    font-family: 'FC BARCELONA';
    font-style: normal;
    font-weight: lighter;
    src: url("fonts/FC_BARCELONA-Light.woff2") format('woff2'),
}
@font-face {
    font-family: 'FC BARCELONA';
    src: url("fonts/NotoSansKR-Thin.woff") format("woff");
    unicode-range: U+0020-007E;
    font-style: lighter;
}
@font-face {
    font-family: 'FC BARCELONA';
    font-style: normal;
    font-weight: 200;
    src: url("fonts/FC_BARCELONA-Semibold.woff2") format('woff2'),
}



body {
    font-family: 'FC BARCELONA' !important;
    a {
        color: inherit;
        text-decoration: none;
    }
}

html {
    transition: all linear 0.2s;
    background: #fafafa; 
    .header {
        background: #fff;
    }
    color: $barcablue;
    &.dark {
        background: $barcablack;
        color: #fafafa;
        .header{
            background: none;
            background-image: url("../static/img/Camp-Nou-Grass.jpg"), linear-gradient( rgba(19, 17, 38, 0.7), rgba(19, 17, 38, 0.7));
            background-blend-mode: overlay;
        }
        
    }
}
:root {
    --background-color: white;
    --text-color: #21125e;
    --sub-color: #2748aa;
    --border-color: #ddd;

}
:root[class*="dark"] {
    --background-color: #1d1b1e;
    --text-color: #fefefe;
    --sub-color: #cdcdcd;
    --border-color: #333;
}





.App {
    display: grid;
    grid-template: auto 1fr auto / 1fr 4fr 1fr;
    .header{
        color: var(--sub-color);
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        > :nth-child(1) {
            grid-row: 1/3;
        }
        > :nth-child(2) {
            grid-column: 2/7;
        }
        .top-header{
            &:hover {
                cursor: default;
                color: inherit;
            }
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            justify-content: start;
            align-items: center;
            border-bottom: none;
            font-size: 2rem;
            .sns-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                > * {
                    margin-left: 0.5rem;
                }
                img {
                    width: 1.5rem;
                }
            }
        }
        
        > div, >a {
            border: solid  1px var(--border-color);
            border-right: none;
            font-size: 1.4rem;
            font-weight: bold;
            text-align: center;
            position: relative;
            display: inline-block;
            span {
                display: block;
                height: inherit;
                padding: 1rem;
            }
            &:hover {
                cursor: pointer;
                color: $barcayellow;
                .content {
                    display: block;
                    background-color: rgba(19, 17, 38, 0.7);
                    opacity: 1;
                    .link {
                        display: block;
                        font-weight: bold;
                        font-size: 1rem;
                        color: white;
                    }
                    .link:hover {
                        cursor: pointer;
                        color: $barcayellow;
                    }
                }
                
            }
            .main {
                font-size: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                img {
                    width: 4rem;
                    margin-right: 1rem;
                }
                span {
                    height: auto;
                }
            }
        }
    }
    .left{
        grid-column: 1/2;
    }
    .middle{
        background-color: green;
        grid-column: 2/3;
    }
    .right{
        background-color: yellow;
        grid-column: 3/4;
    }
    .footer{
        background-color: purple;
        grid-column: 1/4;
    }
}


.darkmode {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: var(--text-color);
    > span {
        font-size: 1rem;
    }
    .toggle-btn-wrap {
        width: 4rem;
        height: 1.4rem;
        background-color: $barcared;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        &.dark {
            background-color: $barcagold;
        }
        .toggle-btn {
            margin: 0 0.2rem;
            width: 1.0rem;
            height: 1.0rem;
            background-color: white;
            border-radius: 50%;
            transition: transform;
            transition-duration: 0.6s;
            &.dark {
                background-color: #1D1B1E;
                transform: translateX(2.4rem);
            }
            transform: translateX(0rem);
        }
    }
}


.standing-list {
    display:flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 0.5rem;
    .standing-header {
        display:grid;
        grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
        padding: 0.2rem;
        font-weight: bold;
        font-size: 1rem;
        div {
            margin-right: 0.5rem;
            justify-self: center;
        }
    }
    .standing-item {
        display:grid;
    
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
    div {
        display:flex;
        flex-direction: row;
        margin: 0 0.5rem;
        justify-self: flex-start;
        align-items: center;
        img {
            width: 1.4rem;
            margin-right: 0.3rem;
        }
    }
    margin-top: 0.3rem;
    }
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .move-btn {
            font-size: 8rem;
            color: $barcayellow
        }
    .main-view{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60rem;
        position: relative;
        .news-container {
            display: flex;
            flex-direction: column;
            width: 30rem;
            justify-content: center;
            align-items: center;
            margin: 3vw 0;
            transition: width 0.3s, height 0.3s ;
            box-shadow: 10px 10px 10px grey;
            border-radius: 5%;
            &.news-next {
                position: absolute;
                right: 0;
                z-index: -1;
                width: 25rem;
                filter: brightness(70%);
            }
            &.news-prev {
                position: absolute;
                left:0;
                z-index: -1;
                width: 25rem;
                filter: brightness(70%);
            }
            &:hover {
                width: 30.3rem;
            }
            .img-wrapper {
                .main-img {
                    width: 100%;
                    display: block;   
                    border-top-right-radius: 5%;
                    border-top-left-radius: 5%;
                }
            }
            .article {
                width: 100%;
                transition: all linear 0.2s;
                background: var(--background-color);
                border-bottom-right-radius: 5%;
                border-bottom-left-radius: 5%;
                
                
            }
            .article-title {
                background: linear-gradient(90deg,#cd122d,#154284);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 800;
                font-size: 3rem;
                padding: 10px;
                padding-bottom: 1rem;
                line-height: 3rem;
                height: 6rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            .article-summary {
                color : var(--text-color);
                font-weight: 800;
                font-size: 1.2rem;
                padding: 1rem;
                padding-bottom: 0;
                line-height: 2rem;
                height: 6rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            
            
        }
    }
}

.sns-link {
    color: var(--sub-color);
    &:hover {
        color: var(--text-color);
    }
}

.squad-list {
    margin-bottom: 1vw;
    .squad-list-group {
       .squad-group-name {
            color: $barcayellow;
            font-weight: 800;
            font-size: 2rem;
            padding: 10px;
       }
       .squad-group-playerlist {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           gap: 1vw;
           .squad-group-player {
                background: linear-gradient(90deg,#cd122d,#154284);
                border-radius: 10px;
                margin: 0 10px;
                display: flex;
                flex-direction: row;
                .player-img {
                    width: 60%;
                }
                .player-info {
                    color:  white;
                    font-weight: 800;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width : 100%;
                    .player-name{
                        padding-top: 1vw;
                        font-size: 1.4vw;
                    }
                    .player-number {
                        font-size: 4vw;
                        color: $barcayellow;
                        align-self: flex-end;
                        padding-right: 1vw;
                    }
                }
           }
           
       }
    }
}




.squad-page {
    padding: 0 10px;
    border-radius: 10px;
    .player-img-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        height: 100%;
        .player-img {
            position: absolute;
            height: 90%;
            bottom: 0;
        }
        .player-name {
            align-self: flex-end;
            font-weight: bold;
            font-size: 6vw;
            background: linear-gradient(90deg,#cd122d,#154284);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .player-info{
            align-self: flex-end;
            padding: 3vw;
            .player-number {
                text-align: end;
                font-weight: bold;
                font-size: 8vw;
                color: $barcayellow;
            }
            .player-stats {
                align-self: flex-end;
                font-weight: bold;
                font-size: 2vw;
                display: flex;
                flex-direction: row;
                text-align: center;
                .stat-name {
                    margin: 0 10px;
                    .stat-num {
                        text-align: center;
                        color: $barcayellow;
                    }
                }
            }
        }
        
    }
}

.match-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .match-box {
        margin-top: 5%;
        margin-left: 15%;
        height: 30%;
        width: 70%;
        border-bottom: 0.1vw solid $barcayellow;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .match-team {
            img {
                display: block;
                width: 6vw;
            }
            padding: 2vw;
            
        }
        .match-info {
            border-left: 0.1vw solid $barcayellow;
            padding: 1.5vw;
            .team-name {
                font-weight: 200;
                font-size: 1.5rem;
            }
            .match-detail {
                display: flex;
                flex-direction: column;
                span {
                    font-size: 1.2rem;
                }
            }
        }
    }
}